<h3>Task:  "<%= @task.description %>"</h3>
<p>Assigned To:  
  <% @task.users.each  do |user| %>
    <strong><%= user.username %></strong>, 
  <%end %>
</p>
<p>Status:
  <% if @task.delivered %>
    <strong>Delivered</strong>
  <% else %>
    <% if @task.done %>
      <strong>Finished</strong>
    <% else %>
      <strong><%= @task.started ? "Started" : "Not Started" %></strong>
    <% end %>
  <% end %>
</p>

