<h4>Task:  <%= @task.description %></h4>
<p>Assigned To:  
  <% @task.users.each  do |user| %>
    <%= user.username %>
  <%end %>
</p>
<p>Status:
  <% if @task.delivered %>
    Delivered
  <% else %>
    <% if @task.done %>
      Finished
    <% else %>
      <%= @task.started ? "Started" : "Not Started" %>
    <% end %>
  <% end %>
</p>

