<%= form_for([@task.feature.project, @task.feature, @task, @task.comments.build], html:{class: ""}) do |f| %>
  <%= f.hidden_field :name, value: curr_user.username %>
  <div class="form-group row justify-content-center">
    <%= f.text_area :body, required: true, class: "form-control" %>
  </div>
  <div class="form-group row justify-content-center">
    <%= f.submit "save", class: "btn btn-outline-dark btn-sm"%>
  </div>
<% end %>
