<div class="bg-dark">
  <div class="container text-white py-2">
    <div class="row justify-content-between">
      <h4>Project Dashboard</h4>
      <div>
      <%= @project.project_name %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'shared/msgs' %>
  <div class="row px-2 mt-1 flex-column">
    <div>
      <a class="btn btn-dark" data-toggle="collapse" href="#myCollapse" role="button" aria-expanded="false" aria-controls="myCollapse">+ Add Feature</a>
    </div>
    <div>
      <div class="collapse multi-collapse mt-1" id="myCollapse">
        <div class="card card-body p-0">
          <%= render 'features/form' %>
        </div>
      </div>
    </div>
  </div>

  <div class="features-list mt-2">
    <%= render 'features/lists' %>
  </div>
</div>