<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      div{
        display: inline-block;
      }
      figure {
        margin-bottom: 0;
        display: inline-block;
      }
      .attachment {
        display: inline-block;
        position: relative;
        max-width: 100%;
        margin: 0;
        padding: 0;
      }
      .mention{
        font-weight: 650;
      }  
      .color-yellow {
        color: rgb(189, 189, 34);
      }    
      .color-red {
        color: red;
      }    
      .color-green {
        color: green;
      }    
      .color-blue {
        color: blue;
      }    
      .color-cyan {
        color: cyan;
      }    
    </style>
  </head>

  <body>
    <%= yield %>
    <p>
      Thank you for using our application 
    </p>
  </body>
</html>
